<p id="notice"><%= notice %></p>

<h1>Suspicious Person Infos</h1>

<table>
  <thead>
    <tr>
      <th>Published at</th>
      <th>Text</th>
      <th>City</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @suspicious_person_infos.each do |suspicious_person_info| %>
      <tr>
        <td><%= suspicious_person_info.published_at %></td>
        <td><%= suspicious_person_info.text %></td>
        <td><%= suspicious_person_info.city %></td>
        <td><%= link_to 'Show', suspicious_person_info %></td>
        <td><%= link_to 'Edit', edit_suspicious_person_info_path(suspicious_person_info) %></td>
        <td><%= link_to 'Destroy', suspicious_person_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Suspicious Person Info', new_suspicious_person_info_path %>
