<%= form_with(model: clova, local: true) do |form| %>
  <% if clova.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(clova.errors.count, "error") %> prohibited this clova from being saved:</h2>

      <ul>
      <% clova.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
