<p id="notice"><%= notice %></p>

<h1>Clovas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Line user id</th>
      <th>User name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @clovas.each do |clova| %>
      <tr>
        <td><%= clova.name %></td>
        <td><%= clova.line_user_id %></td>
        <td><%= clova.user&.name %></td>
        <td><%= link_to 'Show', clova %></td>
        <td><%= link_to 'Edit', edit_clova_path(clova) %></td>
        <td><%= link_to 'Destroy', clova, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Clova', new_clova_path %>
