<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @clova.name %>
  <strong>Line user id:</strong>
  <%= @clova.line_user_id %>
  <strong>User name:</strong>
  <%= @clova.user&.name %>
</p>

<%= link_to 'Edit', edit_clova_path(@clova) %> |
<%= link_to 'Back', clovas_path %>
