<!DOCTYPE html>
<html>
  <head>
    <title>LineBot</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p>
      <%= link_to root_path do %>
        <img alt="DOOR" src="https://raw.githubusercontent.com/hkengo/DOOR/change/oyako_management/app/assets/images/DOOR_icon.png" width="80px" style="float:left;"/>
        <br />
        <h1> Management</h1>
        <br />
      <% end %>
    </p>

    <%= yield %>
  </body>
</html>
